.homepage {

    padding: 0 5vw;

    .banner-container {
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;

        .banner {
            margin-top: 10px;
          
            background-image: url("../asset/banner.png");
            width: 100%;
            height: 300%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .title {
      color: #FFF !important;
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 10px;
      text-align: center;
      padding-top: 500px;
    }

    .subtitle {
      color: #FFF !important;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      padding-bottom: 60px;
    }

    .products-container {
      .card {
        height: 200px;
        max-height: 200px;
        margin: 0 !important;
        padding: 0 !important;
        background-color: #FFF !important;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        .image {
          width: 100%;
          height: 100px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .title {
          padding-top: 10px  !important;
          padding-bottom: 15px;
          font-size: 18px;
          font-weight: 600;
          text-align: center;
          color: #000 !important;
        }

        .btn-explore {
          background-color: #000 !important;
          color: #FFF !important;
          border-radius: 5px !important;
          padding: 5px 10px !important;
          width: 80%;
        }
      }
    }
}