@import "../../sass/common.scss";

.navbar {
  .appbar {
    background-color: $primary-color !important;
    box-shadow: none !important;
    z-index: 0;
  }
  .logo {
    width: 50px;
    height: 50px;
    margin-bottom: -10px;
    margin-right: 10px;
  }
  .title {
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    color: #fff !important;
  }
}
