@import '../../sass/common.scss';

.navbar {

  .appbar {
    background-color: $primary-color !important;
    box-shadow: none !important;
    z-index: 0;
  }

  .title {
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    color: #FFF !important;
  }
}